@model IEnumerable<HomeFinance.MVC.ViewModels.FinanceVM>

@{
    ViewData["Title"] = "Todas as financas";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assets/css/base/base.css">
<link rel="stylesheet" href="../assets/css/componentes/cabecalho.css">
<link rel="stylesheet" href="../assets/css/lista_cliente.css">
<link rel="stylesheet" href="../assets/css/componentes/tabela.css">
<link rel="stylesheet" href="../assets/css/componentes/botao.css">
<link rel="stylesheet" href="../assets/css/componentes/modal.css">

<style>
    .highlight-text {
        color: #ff0000 !important;
        font-size: 1.5em !important;
        font-weight: bold !important;
    }

</style>

<body>
    <main class="finances-container">
        <table class="tabela">
            <thead>
                <tr>
                    <th class="tabela__coluna--p">Descrição</th>
                    <th class="tabela__coluna--p">Vencimento</th>
                    <th class="tabela__coluna--g">Valor R$</th>
                    
                </tr>
            </thead>
            <tbody data-tabela>
                @foreach (var item in Model)
                {
                    <tr style="color: @(item.Pago ? "#D3D3D3" : "#000000")">
                        <td class="td" data-td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td class="td" data-td>
                            @Html.DisplayFor(modelItem => item.DataVencimento)
                        </td>
                        <td class="td" data-td>
                            <strong>R$:</strong> @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td class="td" data-td>
                            @if (!item.Pago)
                            {
                                <form asp-action="AlterarValorPago" asp-route-id="@item.FinancaId">
                                    <button type="submit" class="btn btn-success btn-sm rounded-pill" title="alterar status">Pagar</button>
                                </form>
                            }
                            else
                            {
                                <form asp-action="AlterarValorPago" asp-route-id="@item.FinancaId">
                                    <button type="submit" class="btn btn-sm rounded-pill" style="background-color: #D3D3D3; color: #fff;" title="alterar status">Paga</button>
                                </form>
                            }
                        </td>

                        <td class="td" data-td>
                            <ul class="tabela__botoes-controle">
                                <a asp-action="Details" asp-route-id="@item.FinancaId"><i class="fas fa-info-circle"></i> </a> |
                                <a asp-action="Edit" asp-route-id="@item.FinancaId"><i class="fas fa-edit"></i> </a> |
                                <a asp-action="Delete" asp-route-id="@item.FinancaId"><i class="fas fa-trash-alt"></i> </a>
                            </ul>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="modal-container modal--fechado">
            <article class="modal">
                <h2 class="modal__titulo">
                    Excluir
                </h2>
                <button class="modal__fechar">X</button>
                <p class="modal__texto">Deseja excluir essa entrada?</p>
                <div class="modal__botao-container">
                    <button class="modal__botao modal__botao--confirmar">Excluir</button>
                    <button class="modal__botao">Não excluir</button>
                </div>
            </article>
        </div>
    </main>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script></script>