@model HomeFinance.Domain.Models.Finances

@{
    ViewData["Title"] = "Minhas finanças | Edição de dívida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assets/css/base/base.css">
<link rel="stylesheet" href="../assets/css/componentes/cabecalho.css">
<link rel="stylesheet" href="../assets/css/componentes/cartao.css">
<link rel="stylesheet" href="../assets/css/cadastra_cliente.css">
<link rel="stylesheet" href="../assets/css/componentes/inputs.css">
<link rel="stylesheet" href="../assets/css/componentes/botao.css">


<body>

    <main class="container flex flex--centro flex--coluna">
        <section class="cartao cadastro">
            <h1 class="cartao__titulo">Editar</h1>
            <form class="flex flex--coluna" data-form asp-action="Edit" asp-controller="Finances">
                <div class="input-container">
                    @Html.LabelFor(model => model.FinanceName, new { @class = "form-control-label" })<br />
                    @Html.TextBoxFor(model => model.FinanceName, new { @id = "FinanceName", @class = "input" })
                    @Html.ValidationMessageFor(model => model.FinanceName, "", new { @class = "invalid-feedback" })
                </div>
                <div class="input-container">
                    @Html.LabelFor(model => model.DueDate, new { @class = "form-control-label" })<br />
                    @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "invalid-feedback" })
                </div>
                <div class="input-container">
                    @Html.LabelFor(model => model.Price, new { @class = "form-control-label" })<br />
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "invalid-feedback" })
                </div>
                <button type="submit" class="botao">
                    Editar
                </button>
            </form>
        </section>
    </main>
</body>
