@model IEnumerable<HomeFinance.Domain.Models.Finances>

@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Contas</h1>

<p>
    <a asp-action="Create">Adicionar nova conta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Conta
            </th>
            <th>
                Vencimento
            </th>
            <th>
                Valor
            </th>
            <th>
                Pago
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.FinanceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Installments.FirstOrDefault().DueDate)
            </td>
            <td>
                    R$ @Html.DisplayFor(modelItem => item.Installments.FirstOrDefault().Price)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Installments.FirstOrDefault().Paid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FinancesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FinancesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FinancesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<h3>@ViewBag.Total @ViewBag.TotalDividas</h3>